#
# Copyright (c) 2025 Ernst Strüngmann Institute (ESI) for Neuroscience in Cooperation
# with Max Planck Society and Max Planck Institute for Human Development (MPIB)
#
# SPDX-License-Identifier: CC0-1.0
#

/.quarto/
/.luarc.json
_site/
*.html
*.pdf
*_files/
